- name: node-vtex-api
  referenceId: SHSTJA2W
  build:
    provider: dkcicd
    pipelines:
      - name: node-ci-v2
        parameters:
          nodeVersion: "22-bookworm"
          packageManager: yarn
          skipInstall: true
          nodeCommands:
            - yarn install --ignore-scripts
            - yarn run lint
            - yarn run ci:test
        when:
          - event: push
            source: branch

      - name: npm-publish-v1
        parameters:
          nodeVersion: "22-bookworm"
          packageManager: yarn
          skipInstall: true
          nodeCommands:
            - yarn install --ignore-scripts
            - yarn ci:build
          publishViaGithubWorkflow: true
          workflowFile: publish-npm.yml
          workflowVersion: '{{ ref_name }}'
        when:
          - event: push
            source: tag

      - name: techdocs-v1
        parameters:
          entityReference: default/component/node-vtex-api
          sourceDir: ./
        when:
          - event: push
            source: branch
            regex: main
            path:
              - "docs/**"
              - README.md
              - .vtex/deployment.yaml
