{
  "extends": [
    "vtex",
    "plugin:flowtype/recommended",
    "plugin:import/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import"
  ],
  "rules": {
    "no-duplicate-imports": 0
  }
}
