name: publish-stable:npm

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
            node-version: 12
            registry-url: https://registry.npmjs.org/
      - run: yarn install --ignore-scripts
      - run: yarn build
      - run: npm publish --tag v1-latest
        env:
            NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
            IS_CI: true